<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="d-flex flex-grow-1">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/logo.png" class="logo" alt="Paterson Technologies" />
    </a>
    <div class="w-100 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" [attr.aria-expanded]="navbarOpen" aria-label="Toggle Navigation"
        (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarDefault" [ngClass]="{ 'show': navbarOpen }">
  </div>
</nav>

<main role="main">
  <router-outlet></router-outlet>
</main>

<footer class="container">
  <hr>
  <p class="company-label">Paterson Technologies</p>
</footer>