@import './styles/variables';
@import '~bootstrap/scss/bootstrap';
@import './styles/bootswatch';

body {
    padding-top: 6rem;
}

.company-label {
    text-align: center;
}

.logo {
    height: 3rem;
}